@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
:root{
background-color:hsl(212, 45%, 89%)
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* # Card Qrcode*/
.main{
	background-color:white;
	width:300px;
	height:480px;
	background-color:hsl(0, 0%, 100%);
	display:flex;
	flex-direction: column;
	border-radius: 8px;
}
.image-div{
	border-radius:8px;
	width:280px;
}
.QR{
	margin: 15px;
	width:97%;
	border-radius:10px;
}
.first-h{
font-family:outfit;
text-align:center;
color:hsl(218, 44%, 22%);
}
.second-h{
font-family:'Outfit', sans-serif;
text-align:center;
font-size:15px;
color:hsl(220, 15%, 55%);
}